ul {
  padding-left: 0px;
  list-style: none;
  text-align: right;
}

li {
  list-style: none;
  padding: 20px;
  display: inline;
}

header {
  padding-top: 10px;
}

body {
  text-align: center;
  border: solid 1px yellow;
}

#maintxt {
  border: solid 10px red;
}

table {
  border: solid 3px black;
}

/*スマホ用*/
@media screen and (max-width: 768px) {
  body {
    background-color: pink;
  }
}

button {
  margin-top: 30px;
  padding: 10px;
  background-color: lightblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  width: 100px;
}

form {
  max-width: 400px;
  margin: auto;
  padding: 30px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: bisque;
}

label {
  /*これでフォームが縦並びになる*/
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

#radio {
  display: inline;
  align-items: center;
  padding: 10px;
}

#submit {
  display: block;
}
